header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: #d7fbe1a9;
}

.logo-nav, .logo-footer{
    width: 150px;
    height: auto;
    margin: 0;
}

.hamburguesa{
    order: 1;
}
header > a{
    order: 2;
}

.acceso-img{
    order: 3;
    margin-left: 1rem;
}

.nav{
    width: 100%;
    left: 0;
}
.lista-menu{
    display: none;
    flex-direction: column;
    list-style-type: none;
    height: 100vh;
    font-family: nunito-regular;
}

.activo {
    font-weight: bold;
}


.lista-menu li{
    padding: 10px;
}

.hamburguesa {
    font-size: 1rem;
    cursor: pointer;
}

#menu-hamb {
    display: none;
}

#menu-hamb:checked ~ nav .lista-menu {
    display: flex;
    background-color: #ffffff;
    position: fixed;
    overflow: hidden;
    top: 6%;
    width: 100%;
}

.hamburguesa::after {
    content: "☰";
}

#menu-hamb:checked + .hamburguesa::after {
    content: "✖";
}


.acceso-img img{
    width: 30px;
    height: auto;
    display: block;
    margin: auto;
}


@media (min-width: 768px) {
    .nav{
        position: sticky;
        justify-items:left;
        padding-left: 20px;
        height: auto;
        top: 0;
        flex: 1
    }

    .nav .lista-menu{
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .lista-menu li:hover{
        background-color:#b4d6e9;
        transition: color 0.6s ease;
        border-radius: 5px;
    }
    .hamburguesa{
        display: none;
    }

    .acceso-img img{
        transition: filter 0.5s ease;
    }
    .acceso-img img:hover{
    filter: drop-shadow(5px 8px 8px rgba(0, 0, 0, 0.3));
}

    header > a{
        order: 1;
    }

    .nav{
        order: 2;
    }
    .acceso-img{
        order: 3;
    }
}