*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
    list-style: none;
}

h1 {
    padding: 1rem 0;
    font-family: quicksand-bold;
    text-align: center;
}

h2 {
    padding-bottom: 0.5rem;
    font-family: quicksand-bold;
    text-align: center;
}

h3 {
    padding-bottom: 0.5rem;
    font-family: quicksand-semibold;
    text-align: center;
}

p, label, input, textarea {
    font-family: nunito-regular;
}


@font-face {
    font-family: "nunito-regular";
    src: url(../assets/fuentes/Nunito/static/Nunito-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "nunito-bold";
    src: url(../assets/fuentes/Nunito/static/Nunito-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "nunito-black";
    src: url(../assets/fuentes/Nunito/static/Nunito-Black.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "nunito-medium";
    src: url(../assets/fuentes/Nunito/static/Nunito-Medium.ttf);
    font-weight: 700;
}
