.estructura{
    display: grid;
    min-height: 100dvh;
    width: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
}

body{
    background-color: #E6F4EA;
}

/*contenedor que engloba titulo de seccion y tarjetas*/
.contenedor-general{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 768px) {
    .contenedor-general{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

}
@media (min-width: 1024px) {
    .contenedor-general{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .descubre .contenedor-general{
        grid-template-columns: 1fr 1fr;
    }

}