.contenedor-general{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.descubre{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 1.5rem;
}

@media (min-width: 768px) {

    .principal{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .principal {
        grid-column: 1 / -1;
        grid-row: 2;

    }

    .contenedor-imagen-principal{
        grid-row: 1 / 3;
        grid-column: 2;
        margin: 2rem;
    }

    .beneficios{
        display: grid;
        grid-template-rows: auto 1fr;
        
    }

    .contenedor-general{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }


}

@media (min-width: 1024px) {

    .img-principal {
        width: 320px;
    }
    
    .contenedor-general{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .descubre .contenedor-general{
        grid-template-columns: 1fr 1fr;
    }

}