.estado-emocional {
    display: flex;
    flex-direction: column;

    max-width: 600px;
    width: 90%;
    margin: auto;
    text-align: center;
}


.pregunta-h1{
    text-align: center;
}

.estado-emocional h3{
    text-align: center;
}

.botonesIteractivos {
    display: flex;
    align-self: center;
    margin-top: 1rem;
    
}

.botonesIteractivos button{
    padding: 0.5rem 1rem;
    margin: 15px;
    border-radius: 5px;
}

.estado-emocional p {
    text-align: center;
    margin: 0.5rem;
}

.btn-base {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

/* Colores botones emoción */
.btn-bien {
    background-color: #8fd19e;
}

.btn-neutro {
    background-color: #f2e6a7;
}

.btn-mal {
    background-color: #e8a1a1;
}

@media (min-width: 768px) {
    .btn-base:hover{
        transition: color 0.3s ease;
        transform: scale(1.2);
    }

}


