footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 2px solid #93c5a1e0;
    background-color: #CDE7D3;
    padding: 0.5rem 1rem;
}

.menu-imagen{
    display: flex;
    flex-direction: column;
}

.enlaces-footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.4rem;
    transition: color 0.3s ease;
    font-family: nunito-regular;
}

.enlaces-footer:hover{
    transform: scale(1.05);
}

.menu-imagen a:first-child{
    padding-left:0;
}

.logo-footer{
    align-self: center;
    margin: 0.7rem;
}

.redes{
    display: flex;
    justify-content: space-around;
    margin: 0.7rem;
}

.img-red{
    width: 30px;
    height: auto;
    padding: 2px;
    filter: grayscale(100%) brightness(0.6);
    transition: filter 0.3s ease;
}

.img-red:hover{
    filter: grayscale(0%) brightness(1.2);
}

.copyright{
    text-align: center;
    font-family: quicksand-semibold;
}


@media (min-width: 768px) {

    footer{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .menu-imagen{
        grid-column: 1 / 3;
        flex-direction: row;

    }

    .logo-footer{
        margin-left: auto;
    }

    .menu-footer{
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .menu-footer a:not(:last-child) {
        border-right: 1px solid #000000;
        padding-right: 1rem;
        margin-right: 1rem;
    }


    .menu-footer a{
        padding-left: 0.5rem;
        padding-bottom: 0;
    }

    .contacto-redes{
        display: flex;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contacto{
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row: 2;
    }

    .redes{
        grid-column: 2;
        grid-row: 2;
        margin-left: auto;
        align-items: center;
    }

    .redes img{
        margin: 10px;
        margin-right: 0;
    }

    .copyright{
        grid-column: 1 / 3;
    }

}