.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0 1.5rem;
}

.marca{
    color: #4481a4;
}

h1{
    text-align: center;
}
.parrafo-h1{
    text-align: center;
}

.botones-acceso{
    display: flex;
    justify-content: center;
}

.img-principal{
    width: 200px;
    height: auto;
}

@media (min-width: 768px) {

    .principal{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .principal {
        grid-column: 1 / -1;
        grid-row: 2;

    }

    .contenedor-imagen-principal{
        grid-row: 1 / 3;
        grid-column: 2;
        margin: 2rem;
    }
}